/*İletisim.html */
#iletisim{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:#f0e8d8;
}

/*hakkimizda.html */
#hakkimizda{
    padding: 1rem;
    background: #f0e8d8;
    
}

#hakkimizda .paragraf{   
   font-size: 1rem;
   line-height:2.5; 
   padding: 1rem;
}
/*araclarimiz.html */
#araclar{
    min-height: 100vh;
    padding: 1rem;
}
#araclar .images{
    position:absolute;
    width: 90%;
    display: grid;
    top: 20%;
    left: 5%;
    justify-content: center;
    grid-template-columns: repeat(auto-fit,300px);
    gap: 10px;
}
.images a{
    color: black;
}
.images img{
    height: 200px;
    width: 200px;
    object-fit: cover;
}

